#container {
	width: 100%
}

#getInfo, #instructions {
	display: block;
	/*border: 1px solid black;*/
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
}

#numEx, #numCy, #exerciseName, #countdown{
	display: inline-block;
	margin-left: 10%;
}

#exerciseName, #countdown{
	margin-top: 40px;

}
#button {
	display: block;
	margin-left: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
	/*background-color: black;	*/
}